name: Check
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        run: actions/checkout

      - name: Setup NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: install deps
        run: npm ci

      - name: run Lint
        run: npm run lint

      - name: start tests
        run: npm run test
